body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  background: #111827;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #38bdf8;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, textarea, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}
